.color-purple {
  color: #291074;
}

.color-green {
  color: #006853;
}

.text-bold {
  font-weight: bold;
}

.featured-ico.dica h4 {
  color: #74B959;
}

.list li {
  font-size: 1.8em;
  line-height: 21px;
  margin: 10px 0;
}

.list.list-bullet li:before {
  background: #006853;
}

.list.list-bullet.list-02 li:before {
  size: 18px;
}

.video {
  margin-bottom: 62px;
}

.video p {
  margin-top: 35px;
  margin-bottom: 65px;
}

.carousel .slideshow-item .slideshow-caption {
  padding: 40px 60px 100px 250px;
}

.flashcard-bkg .flashcard-title {
  margin-top: 84px;
  margin-bottom: 103px;
}

.feedback-discursive {
  z-index: 99;
}

.flashcard .slideshow-item.slick-current .card {
  transform: scale(.9);
}

/*DROPDOWN*/
.dropdown .featured-ico.capacidades.is-active {
  padding-bottom: 70px;
}

.dropdown .featured-ico.dica.is-active {
  padding-bottom: 48px;
}

.dropdown .featured-ico.sustentando.is-active {
  padding-bottom: 57px;
}

.dropdown .featured-ico.refletir.is-active {
  padding-bottom: 80px;
}

.dropdown .featured-ico.comentarios.is-active {
  padding-bottom: 44px;
}

.dropdown .featured-ico.saiba-mais.is-active {
  padding-bottom: 65px;
}

.dropdown .featured-ico.atencao.is-active {
  padding-bottom: 53px;
}

.dropdown .featured-ico.atencao.is-active {
  padding-bottom: 87px;
}

.dropdown .featured-ico.leitura.is-active {
  padding-bottom: 58px;
}

.dropdown .featured-ico.gestao.is-active {
  padding-bottom: 87px;
}

/*FLASHCARD 01 */

.flashcard.flashcard-01 .card-1 .card-front {
  background: url('../../images/pht/pht-06.png') center no-repeat;
  background-size: cover;
}

.flashcard.flashcard-01 .card-2 .card-front {
  background: url('../../images/pht/pht-07.png') center no-repeat;
  background-size: cover;
}

.flashcard.flashcard-01 .card-3 .card-front {
  background: url('../../images/pht/pht-08.png') center no-repeat;
  background-size: cover;
}

.carousel-02.carousel-fixed::after {
  background: url('../../images/pht/pht-12.png') center no-repeat;
  background-size: contain;
}

.carousel-03.carousel-fixed::after {
  background: url('../../images/pht/pht-13.png') center no-repeat;
  background-size: contain;
}

/*FLASHCARD 02 */

.flashcard.flashcard-02 .card-1 .card-front {
  background: url('../../images/pht/pht-15.png') center no-repeat;
  background-size: cover;
}

.flashcard.flashcard-02 .card-2 .card-front {
  background: url('../../images/pht/pht-16.png') center no-repeat;
  background-size: cover;
}

.flashcard.flashcard-02 .card-3 .card-front {
  background: url('../../images/pht/pht-17.png') center no-repeat;
  background-size: cover;
}

/*ATIVIDADE DISCURSIVA*/

.question-discursive-back {
  padding: 149px 0px 110px 0px;
}

/*TAB */

.tab .tab-content {
  align-items: flex-start;
}

/*TAB 02 */

.tab-ver-02 .tab-content {
  min-height: 388px;
}

.tab-ver-02 .tab-menu-link {
  line-height: 26px;
}

.tab-ver-03.tab-vertical .tab-content {
  min-height: 231px;
}

.tab-ver-03.tab-menu-link {
  line-height: 30px;
}

/*FEATURED*/

.featured {
  margin-top: 58px;
  margin-bottom: 73px;
}

.ordered-list li {
  font-size: 1.8em;
  line-height: 21px;
  padding-left: 0px;
}

.ordered-list li span {
  color: #006853;
}

/*ACCORDION*/

.accordion .accordion-title {
  color: #291074;
}

/*QUESTION*/

.question label {
  font-family: 'Verdana';
}

.question.question-discursive .btn {
  font-family: 'Ubuntu';
}

/*FLASHCARD 03 */

.flashcard.flashcard-03 .card-1 .card-front {
  background: url('../../images/pht/pht-33.png') center no-repeat;
  background-size: cover;
}

.flashcard.flashcard-03 .card-2 .card-front {
  background: url('../../images/pht/pht-34.png') center no-repeat;
  background-size: cover;
}

.flashcard.flashcard-03 .card-3 .card-front {
  background: url('../../images/pht/pht-35.png') center no-repeat;
  background-size: cover;
}

/*INTERACTIVE*/

.interactive.interactive-01 {
  background: url('../../images/bkg/interactive-bkg.png') center no-repeat;
  height: 610px;
  position: relative;
}

.interactive-01 .interactive-btn {
  position: absolute;
  animation: pulseIcon 1s infinite ease-in-out;
  animation-direction: alternate;
}

.interactive-01 .interactive-btn-1 {
  left: 15%;
  top: 33%;
}

.interactive-01 .interactive-btn-2 {
  left: 27.5%;
  top: 67%;
}

.interactive-01 .interactive-btn-3 {
  left: 40%;
  top: 32%;
}

.interactive-01 .interactive-btn-4 {
  left: 52%;
  top: 67%;
}

.interactive-01 .interactive-btn-5 {
  left: 64%;
  top: 32%;
}

.interactive-01 .interactive-btn-6 {
  left: 77%;
  top: 67%;
}

.interactive-01 .interactive-content {
  font-weight: 300;
  position: absolute;
  text-align: center;
}

.interactive-01 .interactive-content p {
  line-height: 26px;
  margin-bottom: 0;
}

.interactive-01 .interactive-content-1 {
  color: #006853;
  left: 15%;
  top: 5%;
}

.interactive-01 .interactive-content-2 {
  color: #74B959;
  left: 26%;
  top: 87%;
}

.interactive-01 .interactive-content-3 {
  color: #291074;
  left: 38%;
  top: 5%;
}

.interactive-01 .interactive-content-4 {
  color: #956CC0;
  left: 49%;
  top: 87%;
}

.interactive-01 .interactive-content-5 {
  color: #006853;
  left: 63%;
  top: 5%;
}

.interactive-01 .interactive-content-6 {
  color: #74B959;
  left: 73%;
  top: 87%;
}

.footer {
  margin-top: 131px;
}

@media only screen and (max-width: 1023px),
(max-width: 1024px) and (orientation: portrait) {
  .list li {
    font-size: 1.6em;
  }

  .video {
    margin-bottom: 0px;
  }

  .video p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .carousel .slideshow-item .slideshow-caption {
    padding: 60px 20px 100px 20px;
  }

  .carousel {
    margin: 30px auto 0px auto;
  }

  .carousel .vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .question-feedback-content {
    padding: 120px 40px 20px 40px;
  }

  .featured-ico .content {
    padding: 30px 100px 100px 100px;
  }

  .flashcard-bkg .flashcard-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /*ATIVIDADE DISCURSIVA*/
  .question-discursive-back {
    padding: 40px 0px 40px 0px;
  }

  /* INTERACTIVE*/

  .interactive.interactive-01 {
    background: url('../../images/bkg/interactive-bkg-mobile.png') center no-repeat;
    height: 330px;
    width: 100%;
    max-width: 177px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .interactive-01 .interactive-btn {
    position: absolute;
    animation: pulseIcon 1s infinite ease-in-out;
    animation-direction: alternate;
  }

  .interactive-01 .interactive-btn img {
    width: 35px;
    height: 35px;
  }

  .interactive-01 .interactive-btn-1 {
    left: 64.5%;
    top: 9%;
  }

  .interactive-01 .interactive-btn-2 {
    left: 17%;
    top: 23.5%;
  }

  .interactive-01 .interactive-btn-3 {
    left: 64.5%;
    top: 38%;
  }

  .interactive-01 .interactive-btn-4 {
    left: 17.5%;
    top: 52.5%;
  }

  .interactive-01 .interactive-btn-5 {
    left: 64.5%;
    top: 67%;
  }

  .interactive-01 .interactive-btn-6 {
    left: 17%;
    top: 81%;
  }

  .interactive-01 .interactive-content {
    font-weight: 300;
    position: absolute;
    text-align: center;
  }

  .interactive-01 .interactive-content p {
    font-size: 10px;
    line-height: 11px;
    margin-bottom: 0;
  }

  .interactive-01 .interactive-content-1 {
    left: 100%;
    top: 9%;
  }

  .interactive-01 .interactive-content-2 {
    left: -35%;
    top: 22%;
  }

  .interactive-01 .interactive-content-3 {
    left: 100%;
    top: 38%;
  }

  .interactive-01 .interactive-content-4 {
    left: -45%;
    top: 55%;
  }

  .interactive-01 .interactive-content-5 {
    left: 100%;
    top: 68%;
  }

  .interactive-01 .interactive-content-6 {
    left: -45%;
    top: 80%;
  }

}

@media only screen and (max-width: 425px),
(max-width: 426px) and (orientation: portrait) {
  p {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  .dropdown.ico {
    padding: 0px;
  }

  .featured-ico {
    margin: 0px auto !important;
    min-height: initial;
  }

  .featured-ico .content {
    padding: 20px;
  }

  .dropdown .featured-ico {
    padding: 30px 0;
  }

  .featured-ico.is-active {
    padding-bottom: 100px;
  }

  .featured .content p {
    text-align: center;
  }
}